@model WebApplication1.Models.SSRS

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Group Counseling Session List Report</title>
</head>
<body>
    <iframe id="frmReport" src="@Model.ReportURL" frameborder="0" width="100%" height="900px" scrolling="no"></iframe>
</body>
</html>
